.details-container {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .details-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .details-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .details-container button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    color: #007bff; /* Blue color for icons */
  }
  
  .icon-button:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  .icon-button i {
    font-size: 16px; /* Adjust icon size */
  }